In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
import matplotlib.pyplot as plt
%matplotlib inline
from chart_studio.plotly import plot, iplot
import researchpy as rp
import statsmodels.api as sm
from statsmodels.formula.api import ols
import scipy.stats as stats

In [25]:
import cufflinks as cf
cf.go_offline()

In [26]:
df=pd.read_csv(r'C:\Users\Kanishk\Downloads\IE Courses\Probability and Statistics\Assignments\Clean Trial 3.csv')

In [52]:
df.head()

,Port Name,State,Border,Month- year,Measure,Value,Location
0,Van Buren,Maine,US-Canada Border,Dec-19,Trucks,1204,POINT (-67.94271 47.16207)
1,Maida,North Dakota,US-Canada Border,Dec-19,Trucks,170,POINT (-98.36953 48.98568)
2,Douglas,Arizona,US-Mexico Border,Dec-19,Buses,210,POINT (-109.54472 31.344439999999995)
3,Presidio,Texas,US-Mexico Border,Dec-19,Bus Passengers,238,POINT (-104.37167 29.56056)
4,Anacortes,Washington,US-Canada Border,Dec-19,Personal Vehicle Passengers,5350,POINT (-122.61738999999999 48.49988)

In [28]:
df

,Port Name,State,Border,Month- year,Measure,Value,Location
0,Van Buren,Maine,US-Canada Border,Dec-19,Trucks,1204,POINT (-67.94271 47.16207)
1,Maida,North Dakota,US-Canada Border,Dec-19,Trucks,170,POINT (-98.36953 48.98568)
2,Douglas,Arizona,US-Mexico Border,Dec-19,Buses,210,POINT (-109.54472 31.344439999999995)
3,Presidio,Texas,US-Mexico Border,Dec-19,Bus Passengers,238,POINT (-104.37167 29.56056)
4,Anacortes,Washington,US-Canada Border,Dec-19,Personal Vehicle Passengers,5350,POINT (-122.61738999999999 48.49988)
5,Brownsville,Texas,US-Mexico Border,Dec-19,Truck Containers Full,9871,POINT (-97.49722 25.90139)
6,Maida,North Dakota,US-Canada Border,Dec-19,Truck Containers Empty,162,POINT (-98.36953 48.98568)
7,Columbus,New Mexico,US-Mexico Border,Dec-19,Pedestrians,24168,POINT (-107.63944 31.827499999999997)
8,Eastport,Maine,US-Canada Border,Dec-19,Truck Containers Empty,89,POINT (-66.99387 44.90357)
9,Calais,Maine,US-Canada Border,Dec-19,Trucks,4504,POINT (-67.27917 45.18889)
10,Sarles,North Dakota,US-Canada Border,Dec-19,Personal Vehicles,264,POINT (-98.99457 48.941050000000004)
11,Metaline Falls,Washington,US-Canada Border,Dec-19,Trucks,603,POINT (-117.36037000000002 48.85798)
12,Lukeville,Arizona,US-Mexico Border,Dec-19,Personal Vehicle Passengers,56937,POINT (-112.81500000000001 31.8825)
13,Alcan,Alaska,US-Canada Border,Dec-19,Personal Vehicles,830,POINT (-142.98928 63.33693)
14,Scobey,Montana,US-Canada Border,Dec-19,Personal Vehicles,434,POINT (-105.44272 48.80707)
15,Highgate Springs-Alburg,Vermont,US-Canada Border,Dec-19,Personal Vehicle Passengers,63798,POINT (-73.10583 44.979440000000004)
16,Presidio,Texas,US-Mexico Border,Dec-19,Buses,139,POINT (-104.37167 29.56056)
17,Dalton Cache,Alaska,US-Canada Border,Dec-19,Truck Containers Full,14,POINT (-135.40995 59.10606000000001)
18,International Falls-Ranier,Minnesota,US-Canada Border,Dec-19,Buses,20,POINT (-93.41083 48.60111)
19,Laredo,Texas,US-Mexico Border,Dec-19,Rail Containers Empty,17238,POINT (-99.50722 27.50611)
20,Ferry,Washington,US-Canada Border,Dec-19,Personal Vehicles,490,POINT (-118.58774 48.88627)
21,Massena,New York,US-Canada Border,Dec-19,Personal Vehicles,69569,POINT (-74.74 44.98944)
22,Laurier,Washington,US-Canada Border,Dec-19,Truck Containers Empty,363,POINT (-118.22302 48.99892)
23,Beecher Falls,Vermont,US-Canada Border,Dec-19,Personal Vehicles,3056,POINT (-71.49664 45.00808)
24,Carbury,North Dakota,US-Canada Border,Dec-19,Personal Vehicles,1090,POINT (-100.68648 48.90957)
25,Del Bonita,Montana,US-Canada Border,Dec-19,Truck Containers Empty,17,POINT (-112.32481 48.63274)
26,Lynden,Washington,US-Canada Border,Dec-19,Trucks,2924,POINT (-122.44316000000002 48.94802)
27,Northgate,North Dakota,US-Canada Border,Dec-19,Personal Vehicles,1056,POINT (-102.39634 48.89848)
28,Dalton Cache,Alaska,US-Canada Border,Dec-19,Bus Passengers,14,POINT (-135.40995 59.10606000000001)
29,Bridgewater,Maine,US-Canada Border,Dec-19,Personal Vehicle Passengers,5248,POINT (-67.84262 46.41923)
...,...,...,...,...,...,...,...
64799,Cape Vincent,New York,US-Canada Border,Jan-19,Rail Containers Empty,0,POINT (-76.35 44.13)
64800,Carbury,North Dakota,US-Canada Border,Jan-19,Trains,0,POINT (-100.56 49)
64801,Friday Harbor,Washington,US-Canada Border,Jan-19,Rail Containers Full,0,POINT (-123.01 48.54)
64802,Progreso,Texas,US-Mexico Border,Jan-19,Personal Vehicles,91553,POINT (-97.95 26.06)
64803,San Ysidro,California,US-Mexico Border,Jan-19,Train Passengers,0,POINT (-117.03 32.54)
64804,Sherwood,North Dakota,US-Canada Border,Jan-19,Rail Containers Full,0,POINT (-101.63 49)
64805,Neche,North Dakota,US-Canada Border,Jan-19,Buses,0,POINT (-97.56 49)
64806,Ogdensburg,New York,US-Canada Border,Jan-19,Pedestrians,0,POINT (-75.46 44.73)
64807,Friday Harbor,Washington,US-Canada Border,Jan-19,Personal Vehicles,55,POINT (-123.01 48.54)
64808,Sarles,North Dakota,US-Canada Border,Jan-19,Bus Passengers,35,POINT (-98.94 49)
64809,Grand Portage,Minnesota,US-Canada Border,Jan-19,Rail Containers Empty,0,POINT (-89.59 48.00000000000001)
64810,Sherwood,North Dakota,US-Canada Border,Jan-19,Personal Vehicle Passengers,2761,POINT (-101.63 49)
64811,Sarles,North Dakota,US-Canada Border,Jan-19,Rail Containers Full,0,POINT (-98.94 49)
64812,Santa Teresa,New Mexico,US-Mexico Border,Jan-19,Personal Vehicles,37721,POINT (-106.68 31.78)
64813,Bridgewater,Maine,US-Canada Border,Jan-19,Buses,1,POINT (-67.78 46.45)
64814,Laredo,Texas,US-Mexico Border,Jan-19,Pedestrians,281833,POINT (-99.51 27.5)
64815,Fort Kent,Maine,US-Canada Border,Jan-19,Rail Containers Full,0,POINT (-68.6 47.25)
64816,Noonan,North Dakota,US-Canada Border,Jan-19,Personal Vehicle Passengers,4364,POINT (-103 49)
64817,Willow Creek,Montana,US-Canada Border,Jan-19,Personal Vehicles,389,POINT (-109.73 49)
64818,Del Bonita,Montana,US-Canada Border,Jan-19,Pedestrians,0,POINT (-112.79 49)
64819,Jackman,Maine,US-Canada Border,Jan-19,Bus Passengers,79,POINT (-70.4 45.81)
64820,Alexandria Bay,New York,US-Canada Border,Jan-19,Truck Containers Full,15028,POINT (-75.98 44.35)
64821,Roosville,Montana,US-Canada Border,Jan-19,Trucks,877,POINT (-115.05999999999999 49)
64822,Sasabe,Arizona,US-Mexico Border,Jan-19,Truck Containers Empty,23,POINT (-111.54 31.48)
64823,San Ysidro,California,US-Mexico Border,Jan-19,Buses,4439,POINT (-117.03 32.54)
64824,Beecher Falls,Vermont,US-Canada Border,Jan-19,Personal Vehicle Passengers,5820,POINT (-71.51 45.01)
64825,Alexandria Bay,New York,US-Canada Border,Jan-19,Trains,0,POINT (-75.98 44.35)
64826,Houlton,Maine,US-Canada Border,Jan-19,Buses,10,POINT (-67.78 46.13)
64827,Noonan,North Dakota,US-Canada Border,Jan-19,Rail Containers Full,0,POINT (-103 49)
64828,Highgate Springs-Alburg,Vermont,US-Canada Border,Jan-19,Pedestrians,0,POINT (-73.09 45.02)

# Data Cleaning

## 1. Dropping Location Coordinates column

In [7]:
df=df.drop(columns=['Location'])
df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377

## 2. Date Column Filtering

In [8]:
df['Date']=df.Date.apply(lambda x: x.replace('12:00:00 AM',''))
df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value
0,Calexico East,California,2507,US-Mexico Border,03/01/2019,Trucks,34447
1,Van Buren,Maine,108,US-Canada Border,03/01/2019,Rail Containers Full,428
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019,Trucks,81217
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019,Trains,62
4,Trout River,New York,715,US-Canada Border,03/01/2019,Personal Vehicle Passengers,16377

In [9]:
df=df.drop(columns=['Port Code'])
df.head()

,Port Name,State,Border,Date,Measure,Value
0,Calexico East,California,US-Mexico Border,03/01/2019,Trucks,34447
1,Van Buren,Maine,US-Canada Border,03/01/2019,Rail Containers Full,428
2,Otay Mesa,California,US-Mexico Border,03/01/2019,Trucks,81217
3,Nogales,Arizona,US-Mexico Border,03/01/2019,Trains,62
4,Trout River,New York,US-Canada Border,03/01/2019,Personal Vehicle Passengers,16377

# Statistical Description

## 1. State-Wise Statistical Description

In [29]:
df['Value'].groupby(df['State']).describe()

,count,mean,std,min,25%,50%,75%,max
State,,,,,,,,
Alaska,2259.0,1509.145197,5237.403513,0.0,0.00,45.0,457.00,49389.0
Arizona,3567.0,47860.151107,117262.368402,0.0,3.00,819.0,16338.50,689371.0
California,3427.0,154882.531660,355917.172152,0.0,0.00,3701.0,79388.50,2269563.0
Idaho,1307.0,3618.355777,6554.169362,0.0,32.50,321.0,4706.50,49961.0
Maine,7139.0,4657.565205,13841.977500,0.0,2.00,92.0,1683.00,184972.0
Michigan,2107.0,56522.728524,117638.917684,0.0,515.00,4035.0,58173.50,736899.0
Minnesota,4120.0,4545.943689,11868.914615,0.0,4.75,309.0,1106.25,100613.0
Montana,6557.0,1713.028367,6031.418534,0.0,0.00,15.0,508.00,68177.0
New Mexico,1206.0,14849.266998,26553.561087,0.0,24.00,1482.5,19076.00,148485.0
New York,4260.0,34409.043427,122748.494089,0.0,55.00,1597.0,17987.25,1603486.0
North Dakota,10066.0,1632.510232,5563.460908,0.0,0.00,66.0,816.50,122701.0
Ohio,5.0,74.600000,47.056349,17.0,33.00,90.0,111.00,122.0
Texas,6967.0,91715.301565,238577.574753,0.0,85.00,4235.0,53598.50,1951761.0
Vermont,3161.0,7135.035432,19976.298697,0.0,18.00,324.0,5074.00,187939.0
Washington,8681.0,13102.808547,67438.111099,0.0,0.00,72.0,2225.00,1095812.0

In [30]:
d=rp.summary_cont(df['Value'].groupby(df['State']))

## 2. Transportation-Wise Statistical Description

In [31]:
df['Value'].groupby(df['Measure']).describe()

,count,mean,std,min,25%,50%,75%,max
Measure,,,,,,,,
Bus Passengers,5350.0,3936.325047,11593.549799,0.0,0.00,120.0,1328.00,143471.0
Buses,5352.0,257.951981,706.929407,0.0,0.00,5.0,66.00,5692.0
Pedestrians,5231.0,41219.524947,115954.672937,0.0,0.00,31.0,6101.00,926266.0
Personal Vehicle Passengers,6580.0,145778.320669,325927.374744,0.0,2916.00,16219.0,102700.00,2269563.0
Personal Vehicles,6600.0,78010.604394,179754.346283,0.0,1560.75,9765.0,54270.50,1280086.0
Rail Containers Empty,4299.0,1438.199349,3526.621816,0.0,0.00,0.0,587.50,22190.0
Rail Containers Full,4275.0,2519.632982,6972.446584,0.0,0.00,0.0,847.50,69523.0
Train Passengers,4247.0,349.946551,1752.404019,0.0,0.00,0.0,52.50,27777.0
Trains,4323.0,43.506593,83.662829,0.0,0.00,0.0,33.00,447.0
Truck Containers Empty,6176.0,2566.092293,6866.990243,0.0,38.00,362.5,1307.25,64287.0
Truck Containers Full,6123.0,7066.423159,19692.017922,0.0,36.00,408.0,3327.50,156441.0
Trucks,6273.0,9286.160370,25425.274983,0.0,106.00,796.0,4692.00,209587.0

## 3. Border-Wise Statistical Description

In [32]:
df['Value'].groupby(df['Border']).describe()

,count,mean,std,min,25%,50%,75%,max
Border,,,,,,,,
US-Canada Border,49662.0,9861.841770,54141.914740,0.0,0.0,142.0,1774.75,1603486.0
US-Mexico Border,15167.0,89562.096459,244680.777864,0.0,15.0,2637.0,43125.00,2269563.0

In [33]:
rp.summary_cont(df['Value'].groupby(df['Border']))

,N,Mean,SD,SE,95% Conf.,Interval
Border,,,,,,
US-Canada Border,49662,9861.841770,54141.914740,242.952576,9385.649927,10338.033613
US-Mexico Border,15167,89562.096459,244680.777864,1986.781050,85667.877220,93456.315698

# Inferential Statistics

## A. State-Wise Description

### 1. Ordinary Least Square Model

In [34]:
R1 = ols('Value ~ C(State)', data=df).fit()
R1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Value   R-squared:                       0.098
Model:                            OLS   Adj. R-squared:                  0.098
Method:                 Least Squares   F-statistic:                     502.1
Date:                Sun, 01 Dec 2019   Prob (F-statistic):               0.00
Time:                        14:35:05   Log-Likelihood:            -8.5296e+05
No. Observations:               64829   AIC:                         1.706e+06
Df Residuals:                   64814   BIC:                         1.706e+06
Df Model:                          14
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                 1509.1452   2635.591      0.573      0.567   -3656.616    6674.906
C(State)[T.Arizona]       4.635e+04   3368.308     13.761      0.000    3.97e+04     5.3e+04
C(State)[T.California]    1.534e+05   3394.880     45.178      0.000    1.47e+05     1.6e+05
C(State)[T.Idaho]         2109.2106   4353.424      0.484      0.628   -6423.503    1.06e+04
C(State)[T.Maine]         3148.4200   3023.968      1.041      0.298   -2778.558    9075.398
C(State)[T.Michigan]      5.501e+04   3793.916     14.500      0.000    4.76e+04    6.24e+04
C(State)[T.Minnesota]     3036.7985   3279.486      0.926      0.354   -3390.996    9464.593
C(State)[T.Montana]        203.8832   3056.056      0.067      0.947   -5785.988    6193.755
C(State)[T.New Mexico]    1.334e+04   4467.413      2.986      0.003    4583.991    2.21e+04
C(State)[T.New York]       3.29e+04   3260.347     10.091      0.000    2.65e+04    3.93e+04
C(State)[T.North Dakota]   123.3650   2916.373      0.042      0.966   -5592.728    5839.458
C(State)[T.Ohio]         -1434.5452   5.61e+04     -0.026      0.980   -1.11e+05    1.08e+05
C(State)[T.Texas]         9.021e+04   3032.927     29.742      0.000    8.43e+04    9.62e+04
C(State)[T.Vermont]       5625.8902   3451.163      1.630      0.103   -1138.392    1.24e+04
C(State)[T.Washington]    1.159e+04   2958.706      3.918      0.000    5794.597    1.74e+04
==============================================================================
Omnibus:                    88918.033   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         23130625.399
Skew:                           8.045   Prob(JB):                         0.00
Kurtosis:                      94.127   Cond. No.                         119.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### 2. Anova Table

In [35]:
Av1=sm.stats.anova_lm(R1, typ=1)
Av1

               df        sum_sq       mean_sq           F  PR(>F)
C(State)     14.0  1.102975e+14  7.878396e+12  502.071293     0.0
Residual  64814.0  1.017048e+15  1.569179e+10         NaN     NaN

### 3. Post Tukey HUC Test

In [36]:
vs = MultiComparison(df['Value'], df['State'])
result = vs.tukeyhsd()
 
print(result)
print(vs.groupsunique)

             Multiple Comparison of Means - Tukey HSD, FWER=0.05
==============================================================================
   group1       group2      meandiff   p-adj     lower        upper     reject
------------------------------------------------------------------------------
      Alaska      Arizona   46351.0059  0.001   34927.3405   57774.6713   True
      Alaska   California  153373.3865  0.001  141859.6002  164887.1727   True
      Alaska        Idaho    2109.2106    0.9  -12655.4907   16873.9118  False
      Alaska        Maine      3148.42    0.9   -7107.4101   13404.2501  False
      Alaska     Michigan   55013.5833  0.001   42146.4623   67880.7044   True
      Alaska    Minnesota    3036.7985    0.9   -8085.6264   14159.2234  False
      Alaska      Montana     203.8832    0.9  -10160.7751   10568.5414  False
      Alaska   New Mexico   13340.1218  0.159   -1811.1732   28491.4168  False
      Alaska     New York   32899.8982  0.001   21842.3847   43957.4117   True
      Alaska North Dakota      123.365    0.9   -9767.5572   10014.2873  False
      Alaska         Ohio   -1434.5452    0.9 -191640.8888  188771.7984  False
      Alaska        Texas   90206.1564  0.001   79919.9411  100492.3716   True
      Alaska      Vermont    5625.8902    0.9     -6078.78   17330.5605  False
      Alaska   Washington   11593.6634 0.0078    1559.1672   21628.1595   True
     Arizona   California  107022.3806  0.001   96860.2654  117184.4957   True
     Arizona        Idaho  -44241.7953  0.001  -57978.5239  -30505.0667   True
     Arizona        Maine  -43202.5859  0.001  -51913.6915  -34491.4803   True
     Arizona     Michigan    8662.5774 0.4328   -3010.6446   20335.7995  False
     Arizona    Minnesota  -43314.2074  0.001    -53030.67  -33597.7449   True
     Arizona      Montana  -46147.1227  0.001  -54986.0961  -37308.1494   True
     Arizona   New Mexico  -33010.8841  0.001  -47162.3169  -18859.4514   True
     Arizona     New York  -13451.1077  0.001  -23093.1985   -3809.0169   True
     Arizona North Dakota  -46227.6409  0.001  -54506.0256  -37949.2562   True
     Arizona         Ohio  -47785.5511    0.9 -237914.8609  142343.7587  False
     Arizona        Texas   43855.1505  0.001    35108.292   52602.0089   True
     Arizona      Vermont  -40725.1157  0.001  -51103.0064   -30347.225   True
     Arizona   Washington  -34757.3426  0.001  -43206.7462  -26307.9389   True
  California        Idaho -151264.1759  0.001  -165075.941 -137452.4108   True
  California        Maine -150224.9665  0.001 -159053.9247 -141396.0082   True
  California     Michigan  -98359.8031  0.001  -110121.234  -86598.3723   True
  California    Minnesota  -150336.588  0.001 -160158.8478 -140514.3281   True
  California      Montana -153169.5033  0.001 -162124.6467 -144214.3599   True
  California   New Mexico -140033.2647  0.001 -154257.5465 -125808.9829   True
  California     New York -120473.4882  0.001 -130222.1834  -110724.793   True
  California North Dakota -153250.0214  0.001 -161652.3304 -144847.7124   True
  California         Ohio -154807.9317 0.2684 -344942.6776   35326.8142  False
  California        Texas  -63167.2301  0.001  -72031.4659  -54302.9943   True
  California      Vermont -147747.4962  0.001 -158224.5072 -137270.4853   True
  California   Washington -141779.7231  0.001 -150350.5787 -133208.8675   True
       Idaho        Maine    1039.2094    0.9  -11742.7948   13821.2137  False
       Idaho     Michigan   52904.3727  0.001   37945.7503   67862.9952   True
       Idaho    Minnesota     927.5879    0.9  -12559.6622   14414.8381  False
       Idaho      Montana   -1905.3274    0.9  -14774.8154   10964.1606  False
       Idaho   New Mexico   11230.9112 0.6123    -5732.559   28194.3814  False
       Idaho     New York   30790.6877  0.001   17356.9173    44224.458   True
       Idaho North Dakota   -1985.8455    0.9  -14476.9594   10505.2683  False
       Idaho         Ohio   -3543.7558    0.9 -193903.0233  186815.5117  False
       Idaho        Texas   88096.9458  0.001   75290.5487  100903.3428   True
       Idaho      Vermont    3516.6797    0.9  -10454.6083   17487.9676  False
       Idaho   Washington    9484.4528 0.4072   -3120.6531   22089.5587  False
       Maine     Michigan   51865.1633  0.001    41332.071   62398.2556   True
       Maine    Minnesota    -111.6215    0.9   -8423.7551    8200.5121  False
       Maine      Montana   -2944.5368    0.9  -10211.5424    4322.4688  False
       Maine   New Mexico   10191.7018 0.3627   -3034.9746   23418.3782  False
       Maine     New York   29751.4782  0.001   21526.4047   37976.5518   True
       Maine North Dakota    -3025.055    0.9   -9598.7581    3548.6482  False
       Maine         Ohio   -4582.9652    0.9 -194645.6822  185479.7517  False
       Maine        Texas   87057.7364  0.001   79903.0558   94212.4169   True
       Maine      Vermont    2477.4702    0.9   -6599.0123   11553.9528  False
       Maine   Washington    8445.2433 0.0023     1657.435   15233.0517   True
    Michigan    Minnesota  -51976.7848  0.001  -63355.3751  -40598.1945   True
    Michigan      Montana  -54809.7002  0.001  -65448.7848  -44170.6155   True
    Michigan   New Mexico  -41673.4615  0.001  -57013.7914  -26333.1316   True
    Michigan     New York  -22113.6851  0.001  -33428.8337  -10798.5365   True
    Michigan North Dakota  -54890.2183  0.001  -65068.3481  -44712.0885   True
    Michigan         Ohio  -56448.1285    0.9 -246669.6234  133773.3664  False
    Michigan        Texas    35192.573  0.001   24629.8932   45755.2529   True
    Michigan      Vermont  -49387.6931  0.001  -61336.0523  -37439.3339   True
    Michigan   Washington    -43419.92  0.001  -53737.6278  -33102.2121   True
   Minnesota      Montana   -2832.9153    0.9   -11278.959    5613.1284  False
   Minnesota   New Mexico   10303.3233 0.4361   -3606.0711   24212.7177  False
   Minnesota     New York   29863.0997  0.001   20579.8827   39146.3168   True
   Minnesota North Dakota   -2913.4335    0.9  -10770.9049     4944.038  False
   Minnesota         Ohio   -4471.3437    0.9 -194582.7917  185640.1043  False
   Minnesota        Texas   87169.3579  0.001   78819.7628   95518.9529   True
   Minnesota      Vermont    2589.0917    0.9   -7456.2465   12634.4299  False
   Minnesota   Washington    8556.8649 0.0242     519.4133   16594.3164   True
     Montana   New Mexico   13136.2386 0.0576    -174.9994   26447.4767  False
     Montana     New York   32696.0151  0.001   24335.6368   41056.3933   True
     Montana North Dakota     -80.5181    0.9   -6822.7479    6661.7117  False
     Montana         Ohio   -1638.4284    0.9 -191707.0488   188430.192  False
     Montana        Texas   90002.2732  0.001   82692.4481   97312.0983   True
     Montana      Vermont    5422.0071 0.7709    -3777.266   14621.2801  False
     Montana   Washington   11389.7802  0.001    4438.6341   18340.9263   True
  New Mexico     New York   19559.7764  0.001    5702.2325   33417.3203   True
  New Mexico North Dakota  -13216.7568 0.0399  -26162.5384    -270.9752   True
  New Mexico         Ohio   -14774.667    0.9 -205164.3097  175614.9757  False
  New Mexico        Texas   76866.0346  0.001   63615.7839   90116.2852   True
  New Mexico      Vermont   -7714.2316 0.8863  -22093.4605    6664.9973  False
  New Mexico   Washington   -1746.4585    0.9   -14802.263   11309.3461  False
    New York North Dakota  -32776.5332  0.001  -40541.8489  -25011.2175   True
    New York         Ohio  -34334.4434    0.9 -224442.1048   155773.218  False
    New York        Texas   57306.2581  0.001   49043.3284   65569.1879   True
    New York      Vermont   -27274.008  0.001  -37247.4272  -17300.5888   True
    New York   Washington  -21306.2349  0.001  -29253.6179  -13358.8519   True
North Dakota         Ohio   -1557.9102    0.9  -191601.286  188485.4655  False
North Dakota        Texas   90082.7913  0.001   83461.7834   96703.7993   True
North Dakota      Vermont    5502.5252 0.6708   -3159.5085   14164.5589  False
North Dakota   Washington   11470.2983  0.001    5247.5469   17693.0497   True
        Ohio        Texas   91640.7016    0.9  -98423.6574  281705.0605  False
        Ohio      Vermont    7060.4354    0.9 -183085.9651  197206.8359  False
        Ohio   Washington   13028.2085    0.9 -177022.6937  203079.1108  False
       Texas      Vermont  -84580.2661  0.001  -93691.0679  -75469.4644   True
       Texas   Washington   -78612.493  0.001  -85446.1242  -71778.8618   True
     Vermont   Washington    5967.7731 0.5814   -2857.8485   14793.3948  False
------------------------------------------------------------------------------
['Alaska' 'Arizona' 'California' 'Idaho' 'Maine' 'Michigan' 'Minnesota'
 'Montana' 'New Mexico' 'New York' 'North Dakota' 'Ohio' 'Texas' 'Vermont'
 'Washington']

## B. Transportation Wise Description

### 1. Ordinary Least  Square Model

In [37]:
R2 = ols('Value ~ C(Measure)', data=df).fit()
R2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Value   R-squared:                       0.122
Model:                            OLS   Adj. R-squared:                  0.122
Method:                 Least Squares   F-statistic:                     816.5
Date:                Sun, 01 Dec 2019   Prob (F-statistic):               0.00
Time:                        14:35:05   Log-Likelihood:            -8.5209e+05
No. Observations:               64829   AIC:                         1.704e+06
Df Residuals:                   64817   BIC:                         1.704e+06
Df Model:                          11
Covariance Type:            nonrobust
=============================================================================================================
                                                coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------
Intercept                                  3936.3250   1689.766      2.330      0.020     624.383    7248.267
C(Measure)[T.Buses]                       -3678.3731   2389.467     -1.539      0.124   -8361.729    1004.983
C(Measure)[T.Pedestrians]                  3.728e+04   2403.242     15.514      0.000    3.26e+04     4.2e+04
C(Measure)[T.Personal Vehicle Passengers]  1.418e+05   2275.275     62.341      0.000    1.37e+05    1.46e+05
C(Measure)[T.Personal Vehicles]            7.407e+04   2273.728     32.578      0.000    6.96e+04    7.85e+04
C(Measure)[T.Rail Containers Empty]       -2498.1257   2531.535     -0.987      0.324   -7459.936    2463.685
C(Measure)[T.Rail Containers Full]        -1416.6921   2535.472     -0.559      0.576   -6386.219    3552.835
C(Measure)[T.Train Passengers]            -3586.3785   2540.114     -1.412      0.158   -8565.003    1392.246
C(Measure)[T.Trains]                      -3892.8185   2527.636     -1.540      0.124   -8846.986    1061.350
C(Measure)[T.Truck Containers Empty]      -1370.2328   2308.406     -0.594      0.553   -5894.710    3154.245
C(Measure)[T.Truck Containers Full]        3130.0981   2313.039      1.353      0.176   -1403.459    7663.656
C(Measure)[T.Trucks]                       5349.8353   2300.107      2.326      0.020     841.624    9858.046
==============================================================================
Omnibus:                    89102.788   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         23921447.551
Skew:                           8.063   Prob(JB):                         0.00
Kurtosis:                      95.713   Cond. No.                         13.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### 2. Anova Table

In [38]:
Av2=sm.stats.anova_lm(R2, typ=1)
Av2

                 df        sum_sq       mean_sq           F  PR(>F)
C(Measure)     11.0  1.372069e+14  1.247335e+13  816.537691     0.0
Residual    64817.0  9.901382e+14  1.527590e+10         NaN     NaN

### 3. Post Tukey HUC Test

In [39]:
vm = MultiComparison(df['Value'], df['Measure'])
result = vm.tukeyhsd()
 
print(result)
print(vm.groupsunique)

                            Multiple Comparison of Means - Tukey HSD, FWER=0.05
============================================================================================================
           group1                      group2             meandiff   p-adj     lower        upper     reject
------------------------------------------------------------------------------------------------------------
             Bus Passengers                       Buses   -3678.3731    0.9  -11487.6673    4130.9212  False
             Bus Passengers                 Pedestrians   37283.1999  0.001    29428.884   45137.5158   True
             Bus Passengers Personal Vehicle Passengers  141841.9956  0.001  134405.9055  149278.0857   True
             Bus Passengers           Personal Vehicles   74074.2793  0.001   66643.2436   81505.3151   True
             Bus Passengers       Rail Containers Empty   -2498.1257    0.9   -10771.731    5775.4796  False
             Bus Passengers        Rail Containers Full   -1416.6921    0.9   -9703.1643    6869.7801  False
             Bus Passengers            Train Passengers   -3586.3785    0.9  -11888.0202    4715.2632  False
             Bus Passengers                      Trains   -3892.8185    0.9    -12153.68    4368.0431  False
             Bus Passengers      Truck Containers Empty   -1370.2328    0.9   -8914.6037    6174.1382  False
             Bus Passengers       Truck Containers Full    3130.0981    0.9   -4429.4134   10689.6097  False
             Bus Passengers                      Trucks    5349.8353 0.4613   -2167.4121   12867.0827  False
                      Buses                 Pedestrians    40961.573  0.001   33107.9826   48815.1633   True
                      Buses Personal Vehicle Passengers  145520.3687  0.001   138085.045  152955.6924   True
                      Buses           Personal Vehicles   77752.6524  0.001   70322.3835   85182.9213   True
                      Buses       Rail Containers Empty    1180.2474    0.9   -7092.6691    9453.1639  False
                      Buses        Rail Containers Full     2261.681    0.9   -6024.1035   10547.4655  False
                      Buses            Train Passengers      91.9946    0.9   -8208.9607    8392.9498  False
                      Buses                      Trains    -214.4454    0.9   -8474.6171    8045.7263  False
                      Buses      Truck Containers Empty    2308.1403    0.9   -5235.4752    9851.7559  False
                      Buses       Truck Containers Full    6808.4712 0.1252    -750.2865   14367.2289  False
                      Buses                      Trucks    9028.2084 0.0049    1511.7191   16544.6977   True
                Pedestrians Personal Vehicle Passengers  104558.7957  0.001   97076.1999  112041.3915   True
                Pedestrians           Personal Vehicles   36791.0794  0.001   29313.5065   44268.6524   True
                Pedestrians       Rail Containers Empty  -39781.3256  0.001   -48096.754  -31465.8972   True
                Pedestrians        Rail Containers Full   -38699.892  0.001  -47028.1226  -30371.6613   True
                Pedestrians            Train Passengers  -40869.5784  0.001  -49212.9026  -32526.2542   True
                Pedestrians                      Trains  -41176.0184  0.001  -49478.7672  -32873.2695   True
                Pedestrians      Truck Containers Empty  -38653.4327  0.001  -46243.6459  -31063.2194   True
                Pedestrians       Truck Containers Full  -34153.1018  0.001  -41758.3644  -26547.8392   True
                Pedestrians                      Trucks  -31933.3646  0.001  -39496.6187  -24370.1105   True
Personal Vehicle Passengers           Personal Vehicles  -67767.7163  0.001  -74804.7081  -60730.7244   True
Personal Vehicle Passengers       Rail Containers Empty -144340.1213  0.001 -152261.7062 -136418.5365   True
Personal Vehicle Passengers        Rail Containers Full -143258.6877  0.001 -151193.7103 -135323.6651   True
Personal Vehicle Passengers            Train Passengers -145428.3741  0.001 -153379.2367 -137477.5115   True
Personal Vehicle Passengers                      Trains -145734.8141  0.001 -153643.0879 -137826.5402   True
Personal Vehicle Passengers      Truck Containers Empty -143212.2284  0.001 -150368.7984 -136055.6584   True
Personal Vehicle Passengers       Truck Containers Full -138711.8975  0.001 -145884.4268 -131539.3682   True
Personal Vehicle Passengers                      Trucks -136492.1603  0.001 -143620.1313 -129364.1893   True
          Personal Vehicles       Rail Containers Empty   -76572.405  0.001  -84489.2455  -68655.5646   True
          Personal Vehicles        Rail Containers Full  -75490.9714  0.001  -83421.2577  -67560.6852   True
          Personal Vehicles            Train Passengers  -77660.6578  0.001  -85606.7936  -69714.5221   True
          Personal Vehicles                      Trains  -77967.0978  0.001  -85870.6193  -70063.5763   True
          Personal Vehicles      Truck Containers Empty  -75444.5121  0.001  -82595.8302   -68293.194   True
          Personal Vehicles       Truck Containers Full  -70944.1812  0.001  -78111.4704  -63776.8921   True
          Personal Vehicles                      Trucks   -68724.444  0.001   -75847.142   -61601.746   True
      Rail Containers Empty        Rail Containers Full    1081.4336    0.9    -7643.341    9806.2082  False
      Rail Containers Empty            Train Passengers   -1088.2528    0.9   -9827.4361    7650.9305  False
      Rail Containers Empty                      Trains   -1394.6928    0.9   -10095.147    7305.7615  False
      Rail Containers Empty      Truck Containers Empty    1127.8929    0.9   -6895.4233    9151.2091  False
      Rail Containers Empty       Truck Containers Full    5628.2238 0.4864   -2409.3309   13665.7785  False
      Rail Containers Empty                      Trucks     7847.961 0.0604    -149.8561   15845.7781  False
       Rail Containers Full            Train Passengers   -2169.6864    0.9  -10921.0522    6581.6793  False
       Rail Containers Full                      Trains   -2476.1264    0.9  -11188.8172    6236.5644  False
       Rail Containers Full      Truck Containers Empty      46.4593    0.9   -7990.1245    8083.0431  False
       Rail Containers Full       Truck Containers Full    4546.7902 0.7651   -3504.0087    12597.589  False
       Rail Containers Full                      Trucks    6766.5274 0.1971   -1244.5996   14777.6544  False
           Train Passengers                      Trains      -306.44    0.9   -9033.5594    8420.6795  False
           Train Passengers      Truck Containers Empty    2216.1457    0.9   -5836.0784   10268.3698  False
           Train Passengers       Truck Containers Full    6716.4766 0.2157    -1349.935   14782.8882  False
           Train Passengers                      Trucks    8936.2138 0.0145      909.397   16963.0307   True
                     Trains      Truck Containers Empty    2522.5857    0.9   -5487.5886     10532.76  False
                     Trains       Truck Containers Full    7022.9166 0.1555   -1001.5195   15047.3526  False
                     Trains                      Trucks    9242.6538 0.0085    1258.0205    17227.287   True
     Truck Containers Empty       Truck Containers Full    4500.3309 0.6562   -2784.3979   11785.0596  False
     Truck Containers Empty                      Trucks    6720.0681  0.099    -520.7928    13960.929  False
      Truck Containers Full                      Trucks    2219.7372    0.9   -5036.8976     9476.372  False
------------------------------------------------------------------------------------------------------------
['Bus Passengers' 'Buses' 'Pedestrians' 'Personal Vehicle Passengers'
 'Personal Vehicles' 'Rail Containers Empty' 'Rail Containers Full'
 'Train Passengers' 'Trains' 'Truck Containers Empty'
 'Truck Containers Full' 'Trucks']

## C. Border Wise Description

### 1. Ordinary Least Square Model

In [40]:
R3 = ols('Value ~ C(Border)', data=df).fit()
R3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Value   R-squared:                       0.065
Model:                            OLS   Adj. R-squared:                  0.065
Method:                 Least Squares   F-statistic:                     4541.
Date:                Sun, 01 Dec 2019   Prob (F-statistic):               0.00
Time:                        14:35:06   Log-Likelihood:            -8.5410e+05
No. Observations:               64829   AIC:                         1.708e+06
Df Residuals:                   64827   BIC:                         1.708e+06
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                      9861.8418    572.052     17.239      0.000    8740.619     1.1e+04
C(Border)[T.US-Mexico Border]   7.97e+04   1182.689     67.389      0.000    7.74e+04     8.2e+04
==============================================================================
Omnibus:                    90447.446   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         24499362.669
Skew:                           8.307   Prob(JB):                         0.00
Kurtosis:                      96.775   Cond. No.                         2.52
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### 2. Anova Table

In [41]:
Av3=sm.stats.anova_lm(R3, typ=1)
Av3

                df        sum_sq       mean_sq            F  PR(>F)
C(Border)      1.0  7.380300e+13  7.380300e+13  4541.277398     0.0
Residual   64827.0  1.053542e+15  1.625159e+10          NaN     NaN

### 3. Post Tukey HUC Test

In [42]:
vb = MultiComparison(df['Value'], df['Border'])
result = vb.tukeyhsd()
 
print(result)
print(vb.groupsunique)

TypeError: zip argument #4 must support iteration

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64829 entries, 0 to 64828
Data columns (total 7 columns):
Port Name      64829 non-null object
State          64829 non-null object
Border         64829 non-null object
Month- year    64829 non-null object
Measure        64829 non-null object
Value          64829 non-null int64
Location       64829 non-null object
dtypes: int64(1), object(6)
memory usage: 3.5+ MB

In [44]:
print(f"Overall model F({R1.df_model: .0f},{R1.df_resid: .0f}) = {R1.fvalue: .3f}, p = {R1.f_pvalue: .4f}")

Overall model F( 14, 64814) =  502.071, p =  0.0000

In [45]:
R = ols('Value ~ C(State)+C(Measure)', data=df).fit()
R.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Value   R-squared:                       0.220
Model:                            OLS   Adj. R-squared:                  0.219
Method:                 Least Squares   F-statistic:                     729.5
Date:                Sun, 01 Dec 2019   Prob (F-statistic):               0.00
Time:                        17:39:38   Log-Likelihood:            -8.4826e+05
No. Observations:               64829   AIC:                         1.697e+06
Df Residuals:                   64803   BIC:                         1.697e+06
Df Model:                          25
Covariance Type:            nonrobust
=============================================================================================================
                                                coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------
Intercept                                 -2.465e+04   2884.978     -8.545      0.000   -3.03e+04    -1.9e+04
C(State)[T.Arizona]                        4.718e+04   3133.084     15.058      0.000     4.1e+04    5.33e+04
C(State)[T.California]                     1.533e+05   3158.302     48.543      0.000    1.47e+05     1.6e+05
C(State)[T.Idaho]                          5392.0170   4049.599      1.331      0.183   -2545.199    1.33e+04
C(State)[T.Maine]                          4921.7577   2813.088      1.750      0.080    -591.897    1.04e+04
C(State)[T.Michigan]                       6.059e+04   3531.043     17.160      0.000    5.37e+04    6.75e+04
C(State)[T.Minnesota]                      4533.7098   3050.713      1.486      0.137   -1445.690    1.05e+04
C(State)[T.Montana]                         -25.1784   2842.880     -0.009      0.993   -5597.225    5546.868
C(State)[T.New Mexico]                     1.435e+04   4155.580      3.453      0.001    6203.629    2.25e+04
C(State)[T.New York]                       3.599e+04   3033.253     11.865      0.000       3e+04    4.19e+04
C(State)[T.North Dakota]                    694.4592   2713.406      0.256      0.798   -4623.817    6012.736
C(State)[T.Ohio]                          -5.015e+04   5.22e+04     -0.961      0.337   -1.52e+05    5.21e+04
C(State)[T.Texas]                          9.183e+04   2821.351     32.547      0.000    8.63e+04    9.74e+04
C(State)[T.Vermont]                        9021.4213   3211.159      2.809      0.005    2727.548    1.53e+04
C(State)[T.Washington]                     1.271e+04   2752.333      4.617      0.000    7312.284    1.81e+04
C(Measure)[T.Buses]                       -3693.8786   2252.584     -1.640      0.101   -8108.945     721.188
C(Measure)[T.Pedestrians]                  3.258e+04   2267.122     14.371      0.000    2.81e+04     3.7e+04
C(Measure)[T.Personal Vehicle Passengers]  1.427e+05   2145.337     66.501      0.000    1.38e+05    1.47e+05
C(Measure)[T.Personal Vehicles]            7.487e+04   2144.206     34.919      0.000    7.07e+04    7.91e+04
C(Measure)[T.Rail Containers Empty]       -3685.5183   2387.198     -1.544      0.123   -8364.427     993.390
C(Measure)[T.Rail Containers Full]        -1910.5494   2390.896     -0.799      0.424   -6596.708    2775.609
C(Measure)[T.Train Passengers]            -3308.9279   2395.250     -1.381      0.167   -8003.619    1385.763
C(Measure)[T.Trains]                      -4904.3359   2383.420     -2.058      0.040   -9575.840    -232.832
C(Measure)[T.Truck Containers Empty]        757.7253   2176.649      0.348      0.728   -3508.508    5023.959
C(Measure)[T.Truck Containers Full]        5076.0704   2181.049      2.327      0.020     801.213    9350.928
C(Measure)[T.Trucks]                       7700.4397   2168.903      3.550      0.000    3449.389     1.2e+04
==============================================================================
Omnibus:                    86734.458   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         22643283.986
Skew:                           7.650   Prob(JB):                         0.00
Kurtosis:                      93.269   Cond. No.                         124.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [50]:
R2 = ols('Value ~ C(Month- year)', data=df).fit()
R2.summary()

PatsyError: Error evaluating factor: NameError: name 'Month' is not defined
    Value ~ C(Month- year)
            ^^^^^^^^^^^^^^

                             sum           mean  median
State      Month- year
Alaska     Apr-19         101497     534.194737    16.0
           Aug-19         698648    3716.212766   177.0
           Dec-19          37694     224.369048    14.0
           Feb-19          39739     211.377660    12.0
           Jan-19          36066     194.951351     7.0
           Jul-19         769365    3771.397059   128.0
           Jun-19         708497    3439.305825   111.5
           Mar-19          65817     348.238095     9.0
           May-19         453065    2210.073171    76.0
           Nov-19          41360     241.871345    18.0
           Oct-19          72714     410.813559    18.0
           Sep-19         384697    2046.260638   110.0
Arizona    Apr-19       14356352   46310.812903   474.5
           Aug-19       13928173   49743.475000  1112.5
           Dec-19       15233936   54021.049645  1189.0
           Feb-19       13003647   42083.000000   535.0
           Jan-19       14383306   46699.045455   638.0
           Jul-19       14283371   46830.724590   696.0
           Jun-19       13689221   44736.016340   644.0
           Mar-19       15050238   48706.271845   514.0
           May-19       14713065   47925.293160   759.0
           Nov-19       14444722   50861.697183  1067.0
           Oct-19       14292047   49972.192308  1068.0
           Sep-19       13339081   47470.039146  1046.0
California Apr-19       43797138  147465.111111  3128.0
           Aug-19       44987477  167863.720149  5640.5
           Dec-19       46676701  173519.334572  5120.0
           Feb-19       40051189  134399.963087  2473.5
           Jan-19       43467429  145376.016722  2663.0
           Jul-19       45155384  152038.329966  3146.0
...                          ...            ...     ...
Texas      Jun-19       51552375   85777.662230  3522.0
           Mar-19       54858157   90824.763245  4134.0
           May-19       54186020   89860.729685  3949.0
           Nov-19       52956486   96284.520000  5132.0
           Oct-19       53658700   97738.979964  5673.0
           Sep-19       51237544   93328.859745  4967.0
Vermont    Apr-19        1507246    5666.338346   306.5
           Aug-19        3051485   11691.513410   317.0
           Dec-19        1389063    5363.177606   263.0
           Feb-19        1256604    4724.075188   310.5
           Jan-19        1310578    4926.984962   314.5
           Jul-19        3015834   11253.111940   317.0
           Jun-19        2243162    8308.007407   292.5
           Mar-19        1489475    5599.530075   303.5
           May-19        1856416    6926.925373   376.5
           Nov-19        1406273    5471.879377   257.0
           Oct-19        1930852    7513.042802   380.0
           Sep-19        2096859    8158.984436   336.0
Washington Apr-19        9253275   12321.271638    59.0
           Aug-19       12239799   17894.442982   117.5
           Dec-19        8685341   12810.237463   107.5
           Feb-19        7391971    9855.961333    33.0
           Jan-19        7933508   10521.893899    48.0
           Jul-19       11911694   15988.851007    56.0
           Jun-19       10300609   13679.427623    74.0
           Mar-19        9106588   12158.328438    45.0
           May-19       10174734   13423.131926    66.5
           Nov-19        8179396   11837.041968   111.0
           Oct-19        8783792   12917.341176   119.5
           Sep-19        9784774   14222.055233   128.5

[173 rows x 3 columns]